* {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    height: 100px;
    position: relative;
    background-color: rgb(160, 160, 160);
}


header div{
    height: 100px;

}
h1{
    display: inline-block;
    font-size: 32px;
    line-height: 100px;
    position: absolute;
    
    left: 250px
}

h1:hover{
    font-size: 48px;
    line-height: 100px;
    transition: 300ms;    
    color: rgb(255,255,255);
}

#logo{
    display: inline-block;
    position: absolute;

    top:25px;
    left: 25px
}

#leftSection{
    width: 25%;
    height: 1100px;
    float: left;
    padding: 1%;
    text-align: center;
    background-color :rgba(145, 145, 145, 0.5);

}
#leftSection:hover{

background-color :rgba(204, 204, 204, 0.5);
}


#leftSectionDiv{
    padding: 5%;
}

#resultsButton{
    padding: 5px 10px 5px 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255,255,255);
}

#resultsButton:hover{
    background-color: rgb(100,100,100);;
    padding: 10px 20px 10px 20px;
    transition: 200ms;
}

#resultsButton:active{
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
    padding: 10px 20px 10px 20px;
    transition: 300ms;
}

#leftSectionDiv ul {
    list-style:circle;
    margin-left: 10px;
    margin-top: 25px;
}

#leftSectionDiv li{
    text-align: left;
    font-size: 12px;
    line-height: 2em;
    font-weight: 600;

}


#rightSection{
    width: 75%;
    height: 1100px;
    float: right;

}

#imgContainer{
    padding: 2%;
    height: 460px;
    position: relative;

}

.productDiv{

    height: 460px;
    width: 325px;
}

.productDiv:hover{
    border: solid 5px grey;
    height: 460px;
    width: 325px;
}

#imgContainer .productDiv:first-child{
    position: absolute;
    left: 20px;
    bottom: 0;


}

#imgContainer .productDiv:nth-child(2){
    position: absolute;
    left: 344px;
    bottom: 0;

}

#imgContainer .productDiv:last-child{
    position: absolute;
    left: 668px;
    bottom: 0;

}

.productDiv img{
    padding: 15px;
    cursor: pointer;
   
}

#barChart{
   margin-top: 1%;
   padding: 1%;

}

footer{
    clear: both;
    height: 100px;
    width: 100%;
    background-color :rgb(160, 160, 160)
}
